/* Media query for screen sizes up to 3400px */
@media screen and (max-width: 3400px) {
  #profile {
    height: 96vh;
    padding-top: 50px;
  }
  #experience {
    height: 100%;
  }
  /* Make the desktop navigation sticky */
  #desktop-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
  }
  /* Hide the desktop navigation when scrolling down */
  #desktop-nav.nav-hidden {
    transform: translateY(-100%);
  }
  /* Show the desktop navigation when scrolling up */
  #desktop-nav.nav-visible {
    transform: translateY(0);
  }
  #hamburger-nav {
    display: none;
  }
}

  /* Media query for screen sizes up to 1000px */
  @media screen and (max-width: 1000px) {
    #desktop-nav {
      display: none;
    }
  
    #hamburger-nav {
      display: flex;
    }
    #profile{
        margin-top: 80px;
    }

    /* Make the hamburger navigation sticky */
#hamburger-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Hide the hamburger navigation when scrolling down */
  #hamburger-nav.nav-hidden {
    transform: translateY(-100%);
  }
  
  /* Show the hamburger navigation when scrolling up */
  #hamburger-nav.nav-visible {
    transform: translateY(0);
  }

    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
  
    #profile,
    .section-container {
      display: block;
    }

    section,
    .section-container {
      height: fit-content;
    }
  
    section {
      margin: 0 5%;
    }
  
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
  
    .about-containers {
      margin-top: 5vh;
    }
  
    /* Styles for the skills list */
    .skills-list li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      margin-bottom: 10px;
    }
  
    /* Styles for the skill icon */
    .skill-icon {
      width: 24px;
      height: 24px;
    }
  
    /* Additional responsive styles for skills list */
    .details-container {
      padding: 10px;
    }
  
    .details-container h3 {
      font-size: 20px;
    }
  
    .skills-list li {
      font-size: 14px;
    }
  }


  /* Media query for screen sizes up to 900px */
@media screen and (max-width: 900px) {
    
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
  
    #profile,
    .section-container {
      display: block;
    }
  
    section,
    .section-container {
      height: fit-content;
    }
  
    section {
      margin: 0 5%;
    }
  
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
  
    .about-containers {
      margin-top: 5vh;
    }
  
    /* Styles for the skills list */
    .skills-list li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      margin-bottom: 10px;
    }
  
    /* Styles for the skill icon */
    .skill-icon {
      width: 24px;
      height: 24px;
    }
  
    /* Additional responsive styles for skills list */
    .details-container {
      padding: 10px;
    }
  
    .details-container h3 {
      font-size: 20px;
    }
  
    .skills-list li {
      font-size: 14px;
    }
  
    /* Further adjustments for even smaller screens */
    .text-container {
      padding: 0.5rem;
    }
  
    .text-container p {
      font-size: 0.8rem;
    }
  
    /* responsive for the skill section list */
    .skills-list li {
      font-size: 14px;
    }
  
    .skill-icon {
      width: 24px;
      height: 24px;
    }
  }
  
  /* Media query for screen sizes up to 600px */
  @media screen and (max-width: 600px) {
    /* Styles for screen sizes up to 600px */
    /* #contact,
    footer {
      height: 20vh;
    } */
  
    #profile {
      height: 70vh;
      margin-bottom: 0;
    }
  
    article {
      font-size: 1rem;
    }
  
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
      /* display:flex; */
    }
  
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      /* flex-wrap: wrap; */
      display: block;
    }
  
    .contact-info-container {
      margin: 0;
    }
  
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
  
    .experience-sub-title {
      font-size: 1.25rem;
    }
  
    .logo {
      font-size: 1.5rem;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
  
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
  
    .section__text__p2 {
      font-size: 1.25rem;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .text-container {
      text-align: justify;
    }
  
    /* Styles for the skills list */
    .skills-list li {
      font-size: 14px;
      margin-bottom: 10px;
    }
  
    /* Styles for the skill icon */
    .skill-icon {
      width: 24px;
      height: 24px;
    }
}